.feacher-product-item{
    width: 270px;
    padding: 20px 30px;
    margin: 10px 10px;
    background-color: #fff;
    color: black;
}

.action-button , .discription , .title{
    margin: 10px 0px;
}
.action-button{
    width: 100%;
    padding: 10px 0px;
    background-color: #28282B;
    color: #fff;
}
