<app-search  (searchEvent)="onSearchProduct($event)" ></app-search>
<div class="container">
    <app-filter-product [all]="all" [InStock]="InStock" [OutOfStock]="OutOfStock" (selectFilterRedioButton)="changeEvent($event)"></app-filter-product>
    <div class="rowcss">
        <ng-container *ngFor="let prod of products"  >
            <app-products-list  [product]="prod" *ngIf="selectRedioButton === 'all' || prod.is_in_inventory.toString() === selectRedioButton" (click)="selectedProduct = prod" ></app-products-list>
        </ng-container>
    </div>
</div>